<!-- your html code here -->
<section class="py-5 bg-light">
    <div class="container">
      <h3>Contact</h3>
      <p>Si necesitas ayuda para aprender y como ser mas productivo con tu equipo contactanos</p>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Your E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="Your email" />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Your message</label>
          <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </section>