<style>
    body {
        background-image: url(https://media.posterlounge.com/img/products/760000/751813/751813_poster.jpg);
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;      
    }
    h1, h2 {
        background-color: white; 
        padding: 15px; 
        border-radius: 1px;
   
    }
</style>
<div class="container text-center mt-5">
    <h1 style="font-size: 80px"; class="fw-bold" class="text">One Page Wonder</h1>
    <h2 class="fw-bold">Will Knock Your Socks Off</h2>
</div>
